<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulse-Flare Selector</title>
    <link rel="stylesheet" href="/stylesheets/app_selector/styles.css">
</head>
<body>
    <div class="container">
        <h1>Escoge tu aplicación</h1>
        <div class="selector">
            <div class="app-option" data-app="hoja_corte">
                <img src="/images/hoja_icon.ico" alt="Hoja de Corte">
                <p>Hoja de Corte</p>
            </div>
            <div class="app-option" data-app="corte_explorer">
                <img src="/images/explorer_icon.ico" alt="Corte Explorer">
                <p>Corte Explorer</p>
            </div>
            <div class="app-option" data-app="corte_analytics">
                <img src="/images/analytics_icon.ico" alt="HCorte Analytics">
                <p>Corte Analytics</p>
            </div>
        </div>
    </div>
    <script type="module" src="/scripts/app_selector/app_selector.js"></script>
</body>
</html>
